.card::after {
    content: "";
    top: -2px;
    left: 50%;
    width: 93%;
    height: 1px;
    border: 1px solid var(--color-border);
    pointer-events: none;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, 50%);
}
.card {
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    height: 74px;
    border-radius: 8px;
    align-items: center;
    padding: 12px;
}

@media (min-width: 768px) {
    .card {
        width: 100%;
    }
}