.card:not(:last-child)::after {
    content: "";
    bottom: 0;
    left: 50%;
    width: 260px;
    height: 1px;
    border: 1px solid var(--color-border);
    pointer-events: none;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, 50%);
}
.card {
    position: relative;
    overflow: hidden;
}